<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <connectionStrings>
    <add name="APPLICATIONDB_a1bdb69e32ac445ba4fa5a05a773ac8eEntities" connectionString="metadata=res://*/db.Model1.tt.Model1.csdl|res://*/db.Model1.tt.Model1.ssdl|res://*/db.Model1.tt.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=APPLICATIONDB_a1bdb69e32ac445ba4fa5a05a773ac8e;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>